<div class="bg-dark">
<div lass="col-md-6 offset-md-3 mt-5">
     <h4 class=" text-center bg-dark text-white" >
    <img src="assets/imgs/logo2.png" class="imglogo">
</h4>
</div>

<div class="col-md-6 offset-md-3 mt-5 ">
<div class="card">
    <h4 class="card-header text-white" style="background-color:rgb(223, 105, 69)">Register</h4>

    <div class="card-body bg-dark text-white">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control"  />
                
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" />
                
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"  />
                
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Already have an account?</a>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col-md-6 offset-md-3 mt-5 text-right">
    <img src="assets/imgs/home.png" height="30px" >
    <a routerLink="../home" class="btn btn-link">Return to Home Page</a>
</div>
<br>
</div>